/* 
    --{ CSS Rules }--

    .block {}            Block component
    .block__element      Dependant element
    .block--style        Modifies block
    .long-name           Multiword name

    --{ Table of Contents }--

    Universal
    Menu
    Nav
    Calendar
    Notes
*/

/* --{ Universal }-- */

:root {
    --main-font-family: DIN;
    --primary: #8b579f ;
    --secondary: #1f2022;
    --pri-accent: #950740;
    --text: #fff;
}

@font-face {
    font-family: DIN;
    src: url(DIN\ Bold.ttf);
}

main {
    margin: 3rem auto;
    width: 80%;
    font-family: var(--main-font-family);
}

.bg--primary {
    background-color: var(--primary);
}

.bg--secondary {
    background-color: var(--secondary);
}

.border--gradient {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #835BB5, #CD81EB) 1;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.default {
    color: var(--text);
    font-family: var(--main-font-family);
}

* {
    margin: 0;
    padding: 0;
}

html, body, ul {
    height: 100%;
}

menu {
    color: black;
}

/* --{ Menu }-- */

    .main, .main__nav a, .main__right {
        color: var(--text);
        font-family: var(--main-font-family);
    }

    .main__nav a {
        font-size: 1.25rem;
    }

    .main__title {
        font-size: 4rem;
    }

    .main__right p, .main__right a {
        font-size: 1.125rem;
    }

    .main__right button {
        border: 1px solid var(--secondary);
        background-color: var(--primary);
        border-color: #fff;
    }

.main {
    display: flex;
    align-items: baseline;
    justify-content:flex-start;
    height: 100%;
}

.main__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

.main__nav ul {
    margin-left: 4.5rem;
    margin-right: -2.5rem;
}

.main__nav ul li:first-child {
    margin-top: 50%;
}
 
.main__nav li {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 3rem;
    width: 70%;
    padding-bottom: 3px;
}

.main__nav a {
    margin-top: 3rem;
    margin-left: 18rem;
    text-decoration: none;
}

.main__nav li:hover {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #FF10F0, #CD81EB) 1;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.main__right {
    margin-left: 6rem;
}

.main__right p {
    margin-top: 2rem;
}

.main__right button {
    margin-top: 2rem;
    padding: 12px 24px;
    line-height: 32px;
    border-radius: 24px;
    border-style: solid;
}

.main__right button:hover {
    opacity: 70%;
}

.main__right a {
    text-decoration: none;
}

/* --{ Nav }-- */

    .uni {
        background-color: var(--secondary);
    }

    .uni a {
        color: var(--text);
        font-size: 1.25rem;
    }

.uni {
    display: flex;
    flex-direction: end;
}

.uni li {
    list-style: none;
}

.uni a {
    display: block;
    padding: 2rem;
    text-decoration: none;
}

.uni li:first-child {
    margin-right: auto;
}

.uni li:has(a:hover:not(.active)) {
    background-color: var(--primary);
}

/* --{ Calendar }-- */

/* --{ Notes }-- */

.text-editor {
    display: flex;
    flex-direction: column;
}

.text-editor__header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: var(--secondary);
}

input[type=number] {
    margin: 0;
    padding-inline: 5px;
    width: 25px;
    outline: none;
    border: none;
    text-align: center;
    color: var(--text);
    background-color: var(--secondary);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-editor__button {
    height: 100%;
    padding: 10px 16px;
    border: none;
    color: var(--text);
    background-color: transparent;
}

.text-editor__button:hover, .text-editor__button:active {
    background-color: var(--primary);
}

.text-editor__body {
    border: 1px solid black;
}

textarea {
    display: block;
    margin-bottom: 0px !important;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    overflow: none;
}