/* 
    --{ CSS Rules }--

    .block {}            Block component
    .block__element      Dependant element
    .block--style        Modifies block
    .long-name           Multiword name

    --{ Table of Contents }--

    Universal
    Menu
    Nav
    Calendar
    Tasks
    Notes
    Timers
    Settings
*/

/* --{ Universal }-- */

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: var(--main-font-family);
}

html, body, ul {
    height: 100%;
    box-sizing: border-box;
}

body {
    overflow: hidden; /* Hide scrollbars */
  }

:root {
    --main-font-family: DIN;
    --primary: #8b579f ;
    --secondary: #1f2022;
    --text: #fff;
}

@font-face {
    font-family: DIN;
    src: url(DIN\ Bold.ttf);
}

main {
    width: 80%;
    height: 100%;
    margin: auto;
    padding-block: 3rem;
    font-family: var(--main-font-family);
}

.content {
    width: 80%;
    margin: auto;
}

.bg--primary {
    background-color: var(--primary);
}

.bg--secondary {
    background-color: var(--secondary);
}

.border--gradient {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #835BB5, #CD81EB) 1;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.default {
    color: var(--text);
    font-family: var(--main-font-family);
}

/* --{ Menu }-- */

    .main, .main__nav a, .main__right {
        color: var(--text);
        font-family: var(--main-font-family);
    }

    .main__nav a {
        font-size: 1.25rem;
    }

    .main__title {
        font-size: 4rem;
    }

    .main__right p, .main__right a {
        font-size: 1.125rem;
    }

    .main__right button {
        border: 1px solid var(--secondary);
        background-color: var(--primary);
        border-color: #fff;
    }

.main {
    display: flex;
    align-items: baseline;
    justify-content:flex-start;
    height: 100%;
}

.main__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

.main__nav ul {
    margin-left: 4.5rem;
    margin-right: -2.5rem;
}

.main__nav ul li:first-child {
    margin-top: 50%;
}
 
.main__nav li {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 3rem;
    width: 70%;
    padding-bottom: 3px;
}

.main__nav a {
    margin-top: 3rem;
    margin-left: 18rem;
    text-decoration: none;
}

.main__nav li:hover {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #FF10F0, #CD81EB) 1;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.main__right {
    margin-left: 6rem;
}

.main__right p {
    margin-top: 2rem;
}

.main__right button {
    margin-top: 2rem;
    padding: 12px 24px;
    line-height: 32px;
    border-radius: 24px;
    border-style: solid;
}

.main__right button:hover {
    opacity: 70%;
}

.main__right a {
    text-decoration: none;
}

/* --{ Nav }-- */

    .uni__holder {
        background-color: var(--secondary);
    }

    .uni__holder a {
        color: var(--text);
        font-size: 1.25rem;
    }

.uni {
    background-color: var(--secondary);
}

.uni__holder {
    display: flex;
    margin: auto;    
    width: 80%;
}

.uni__holder li {
    list-style: none;
}

.uni__holder a {
    display: block;
    padding: 0.5rem;
    margin: 1rem;
    text-decoration: none;
}

.uni__holder li:first-child {
    margin-right: auto;
}

.uni__holder li:has(a:hover:not(.active)) {
    opacity: 80%;
}

/* --{ Calendar }-- */

.calendar {
    display: flex;
    justify-content: center;
}

/* --{ Tasks}-- */

.task-container {
    display: flex;
    flex-direction: column;
}
  
.task-submit {
    display: flex;
}

.task-input {
    padding-right: 25%;
}

.task-submit-button {
    margin-bottom: 10px;
}

.tasks {
    list-style-type: none;
}

.task-holder {
    display: flex;
    align-items: baseline;
}

input[type='checkbox'] {
    margin-right: 5px;
}

/* --{ Notes }-- */
    
.ql-container.ql-container {
    overflow-y: hidden;
    resize: vertical;
    height: 25%;
  }

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    font-family: var(--main-font-family);
}

.overlay-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    background-color: #fff;
    border: solid 2px var(--secondary);
    border-radius: 5px;
    padding: 40px;
}

label {
    padding-bottom: 3px;
}

input, select {
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 5px;
}

.overlay-button {
    border: none;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
}

.overlay-buttons {
    display: flex;
    justify-content: center;
}

/* --{ Timers }-- */

.timer-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 275px;
    min-width: 275px;
    border: solid 1px var(--secondary);
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--text);
}

.timer > input[type="text"]
{
    font-size:18px;
}

.timer-title {
    margin-top: 60px;
}

.timer-time {
    margin-top: 30px;
}

.timer-button-container {
    display: flex;
    margin-top: 20px;
}

.timer-button {
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
}

.timer-time {
    align-items: center;
    background-color: var(--primary);
    color: var(--text);
    border: none;
    text-align: center;
}

/* --{ Settings }-- */